# Ignore everything
*

# Whitelist subdirectories
!*/

# Whitelist the following extensions
!*.c
!*.h
!*.w
!*.tex
!*.txt
!*.sh
!*.mk
!*.l
!*.y
!*.m4
!*.html.m4
!*.ttf
!*.gif
!*.css

# Whitelist specific filenames
!.gitignore
!/README
!/LICENSE
!/Makefile
!/404.html
